# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
flask=2.2.5=py39haa95532_0
flask-cors=3.0.10=pyhd3eb1b0_0
flask-testing=0.8.1=pyhd8ed1ab_0
jupyterlab=4.0.8=py39haa95532_0
python=3.9.18=h6244533_0
pip=23.3.2=pypi_0